/*--Typographies / Couleurs--*/
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    overflow-x: hidden;

    background-color: #023529;
}

/*--Mise en page (positionement) --*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}



h1, h2, h3, h4, h5 {
    font-family: "Playfair Display", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-- Header /  Navigations / Footer--*/

header {
    width: 100%;
}

.flex-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #023529;
    background-image: url(../media/img/css-pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}



nav ul {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;

}

.btn-menu {
    background-color: #023529;
    color: #fff;
    padding: 14px 28px;
    border: 3px solid #c7a93b;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; 
    cursor: pointer; 
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-menu:hover {
    font-weight: 800;
    
    border: 5px solid #fff;

    font-weight: 700;
    background-color: #c7a93b;
    
    
    transform: translateY(-5px);
    transition: 0.3s ease;
}




.logo-header {
    width: 200px;
    margin-left: 20px;
    
    border-radius: 20px;
    border: 3px solid #c7a93b;
}


.btn-body {
    
    padding: 14px 28px;
    border: 3px solid #c7a93b;
    border-radius: 30px;
    
    padding: 14px 28px;
    color: #fff;
    background-color: #023529;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-body:hover {
    font-weight: 800;
    
    border: 5px solid #fff;

    background-color: #c7a93b;
    
    
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.btn-menu-mobile img {
    width: 50px;
}

.btn-ma-commande {
    background-color: #c7a93b;
    border-color: #fff;
    
    display: flex;
    align-items: center;
    gap: 8px
}

.btn-ma-commande:hover {
    background-color: #ff5a3d;
    transform: translateY(-6px);
    font-weight: 800;
}

.btn-menu-mobile {
    display: none;
    margin-left: auto;
    background: #0235296b;
    border: 3px solid #c7a93b;
    border-radius: 10px;
    padding: 5px 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    cursor: pointer;
}



.btn-menu-mobile:hover {
    background-color: #023529;
    border: 5px solid #c7a93b;
    transform: translateY(6px);
    font-weight: 800;
}

.btn-body span {
    
    color: #fa4224;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1rem;
}


#bannier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px  20px;
    background-color: #c7a93b;
    background-image: url(../media/img/beautiful-coconut-palm-tree-blue-sky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannier h2 {
    font-size: 3rem;

}

.bannier-txt,
.bannier-media {
    flex: 1;
    padding: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

video {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}


/*footer*/

footer { 
    font-weight: 700;
    padding: 30px 20px;
    background-color: #023529;
    background-image: url(../media/img/css-pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
    
}

.rs-logo {
    width: 1.5rem;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* Main */
#temoignages {
    background-color: #ffffff4b;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 30px;
    border-radius: 15px;

}

.title-page {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    line-height: 1rem;
}

.clients-list h3 {
    color: #023529;
    
    font-size: 1.2rem;

}

.clients-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    
}


.client-card {
    background-color: rgb(224, 218, 218);
    color: #023529;
    padding: 30px 25px 30px;
    flex: 1 1 280px;
    max-width: 320px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #c7a93b;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);

}


.client-card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease;
}


.client-avatar img {
    width: 70px;
    height: 70px;
    border: 5px solid #c7a93b;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fa4224;
    
}

.client-avatar {
    position: absolute;
    top: -35px;
    left: 25px;
}

.testimonial {
    margin: 20px;
    padding: 10px;
    height: 150px;
    max-height: 150px;
    overflow: auto;
    padding-right: 8px;
    font-style: oblique;

    
}

.testimonial::-webkit-scrollbar {
    width: 10px;
}

.testimonial::-webkit-scrollbar-thumb {
    background-color: #c7a93b;
    border-radius: 10px;
    border: 2px solid #fff;
}


.testimonial::-webkit-scrollbar-thumb:hover {
    background: #c7a93b;
    border-radius: 10px;
    border: 2px solid #fff;

}

.testimonial::-webkit-scrollbar-track {
    background: #023529;
    border-radius: 10px;
    border: 2px solid #fff;
}






/*********** MEDIA QUERIES ************/




@media screen and (max-width: 1200px) {

    #bannier {
        gap: 30px;
    }


}

@media screen and (max-width: 960px) { 
    
    .flex-header {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    .btn-menu-mobile {
    display: block;
    }


    #bannier {
        flex-direction: column;
        text-align: center;
    }

    .bannier-txt,
    .bannier-media {
        width: 100%;
        padding: 0;
    }

    .title-page {
        font-size: 1.7rem;
    }

    .testimonial {
        font-size: 0.95rem;
    }

    .flex-footer {
        font-size: 1rem;
    }

    .client-card {
        flex: 1 1 100%;
        max-width: 75%;
    }

}

/* À partir de 770px, dans le header, le menu passe en colonne afin d'éviter que le logo et les boutons de navigation se chevauchent*/
@media screen and (max-width: 770px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .flex-header {
    flex-direction: column;
    gap: 20px;
}
    .btn-menu-mobile {
    margin-left: 0;
    
}
}

@media screen and (max-width: 570px) {

    #bannier {
        padding: 40px 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        align-items: center;
        
    }

    .clients-list {
        padding: 20px 10px;
        
    }

    .client-card {
        flex: 1 1 100%;
        max-width: 100%;
        
    }
    

    .testimonial {
        height: auto;
        max-height: none;
        overflow: visible;
    }
    
    .title-page {
        font-size: 1.4rem;
    }

    #temoignages h3 {
        font-size: 1rem;
    }

    .testimonial {
        font-size: 0.9rem;
    }
    
    .client-avatar {
        left: 50%;
        transform: translateX(-50%);
    }

    .flex-footer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

